@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');
.cuadrado1 {
    background-image: url("../../assets/fondoHome.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.8;
    width:100%;
    height:1500px;
    top: 460px;
}

.cuadrado1 a img{
 width:40px;
 height:41px;
 position:relative;
 top:121px;
 left:500px;
 cursor: pointer;
}

.cuadrado1 .cerrar a{
    width: 100px;
    height: 100px;
    font-family: 'Work Sans';
    font-size:3rem;
    cursor: pointer;
    position:relative ;
    left:300px ;
    top:120px ;
    background: rgba(3, 42, 43, 0.4);
    border-radius: 20px;
    color: white;
    text-decoration: none;
}
/* cuadro principal de la imagenes  */
.imag{
    width: 1540px;
    height: 1300px;
    background: rgba(0, 0, 0, 0.2);
    border-radius:5px;
    position: relative;
    top: 50px;
    left: 480px;
}

/* visor de imagen lateral  */
.imagenT {
    width: 180px;
    height: 300px;
    background: rgba(17, 65, 66, 0.6);
    border-radius: 3px;
    position: relative;
    top: 90px;
    left: 70px;
    
}
.imagenT img {
    width: 100px; 
    height: 100px;
    border: 1px solid transparent;
    position: absolute;
    top: 95px;
    left: 30px;
}

/* recuadro donde se visualiza la imagen mas grande */
.granImagen{
    width: 600px;
    height: 600px;
    background: rgba(17, 65, 66, 0.6);
    border: 1px solid transparent;
    position: absolute;
    top: 90px;
    left: 300px;
    cursor: zoom-in;
}
.cuadrado1 .granImagen img{
    width: 280px;
    height: 500px;
    position : absolute;
    top:49px;
    left:158px;
}
/* recuadro de pagos */
.pago{
    width: 520px;
    height: 1150px;
   background: rgba(17, 65, 66, 0.6);
    border-radius: 4px;
    position: absolute;
    top: 90px;
    left: 950px;
}
.pago button {
    background: rgb(3, 42, 43);
    margin: 10px;
    border-radius: 10px;
    border: none;
    color: rgba(226, 235, 241);
    font-family: 'Work Sans';
    font-size: 1.5em;
    -webkit-box-shadow: 7px 14px 12px 0px rgbaa(0,0,0,0.37);
    -moz-box-shadow: 7px 14px 12px 0px rgbaa(0,0,0,0.37);
    cursor: pointer;
}



.pago h1 {
     position:relative;
     left:20px !important;
     font-family: 'Work Sans';
    font-weight: 100;
    font-size:2.5rem;
    color: rgba(226, 235, 241);
}

.cuadrado1 .pago span {
     top:230px;
     left:256px !important;
    font-family: 'Work Sans';
    font-weight: 100;
    font-size:2rem;
    color: rgba(226, 235, 241);
}

.cuadrado1 .pago .metodo img{
    position:relative;
    top:232px;
    left:30px;
    margin: 20px;
    width: 100px;
    height: 100px;
}
.cuadrado1 .pago .metodo p {
    top: 300px;
    left: 30px;
    font-family: 'Work Sans';
    font-weight: 100;
    font-size:2rem;
    color: rgba(226, 235, 241);
}
.cuadrado1 .pago  #name {
    top:20px;

}
.cuadrado1 .pago  #megusta {
    top:10px;
    left: 450px;
}
.cuadrado1 .pago  #precio {
    top:230px;
    left: 24px;
    font-family: 'Work Sans';
    font-weight: 100;
    font-size: 2rem;
    color: rgba(226, 235, 241);
}

.cuadrado1 .pago p{
    font-family: 'Work Sans';
    font-size: 1.5rem;
    left:50px;
}
.cuadrado1 .pago  #envio {
    top:540px;
    color: rgba(226, 235, 241);
    font-size: 2rem;
}
.cuadrado1 .pago  #devolucion {
    top:590px;
    color: rgba(226, 235, 241);
    font-size: 2rem;
}
.cuadrado1 .pago  #dias {
    top:630px;
    color: rgba(226, 235, 241);
}

.cuadrado1 .pago  #protegida {
    top:950px;
    color: rgba(226, 235, 241);
}
.cuadrado1 .pago  #garantia {
    top:1050px;
    color: rgba(226, 235, 241);
}
.pago #carrito {
    position: absolute;
    top: 800px;
    left: -2px;
    height: 60px;
    width: 500px;
}
.pago #comprar {
    position: absolute;
    top: 700px;
    left: -2px;
    height: 60px;
    width: 500px;
}



.imag p{
    font-family: 'Work Sans';
    font-size: 2rem;
    color: rgba(226, 235, 241);
    position:absolute;
    top: 750px;
    left: 330px;
}
.imag span{
    font-family: 'Work Sans';
    font-size: 2rem;
    color: rgba(226, 235, 241);
    position:absolute;
    top: 750px;
    left: 700px;
}
/* espacio para comentarios y calificacion del producto */
.comentario{
    width: 835px;
    height: 500px;
    background: rgba(17, 65, 66, 0.6);
    border-radius: 4px;
    position: absolute;
    top: 840px;
    left: 550px;
}

.comentario ul li{
    font-family: 'Work Sans';
    font-size: 1.5rem;
    color: rgba(226, 235, 241);
    position:relative;
    top:50px;
    left:43px;
    padding-top:23px;
}

.comentario h2 b {
    font-family: 'Work Sans';
    font-size: 2rem;
    color: rgb(226, 235, 241);
    position:relative;
    top:33px;
    left:12px;
}