
  
   .formulario {
      min-width: 600px;
      margin-top: 50px;
 
      border-radius: 5px;
      padding: 20px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  } 
  
  .formulario > div {
    margin-bottom: 20px;
  }
  
  .formulario label {
    display: block;
    font-weight: 600;
    font-size: 18px;
    
    margin-bottom: 5px;
    color:#FFF;
  }
  
  .formulario input,
  .formulario textarea {
    font-family: "Open Sans", sans-serif;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 5px;
  }
  
  .formulario input:focus,
  .formulario textarea:focus {
    outline: none;
    /* border: 2px solid #0085ff; */
  }
  
  .formulario .error {
    color: #e92b2d;
    font-weight: 600;
    font-size: 12px;
  }
  
  .formulario button[type="submit"] {
    display: block;
    background: #5edad2;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    transition: 0.3s ease all;
  }
  
  .formulario button[type="submit"]:hover {
    background: #104243;
  }
  
  .formulario button[type="submit"]:active {
    opacity: 0.3;
  }
  
  .formulario .exito {
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
    color: #02a802;
  }
  /* 
  .formulario input[type="radio"] {
    width: auto;
  } */
  
  .cntd {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.16);
    width: 700px;
    /* height: 500px; */
    transform: translatex(550px) translatey(100px);
    padding: 2rem;
    transition: 0.3s ease all;
    border-radius: 5px;
  }
  .formulario select {
    margin: 1rem;
    text-align: center;
    outline: none;
  }
  .selets {
    display: flex;
  }
  
  @media only screen and (max-width: 480px) {
    /* Estilos para dispositivos móviles */
  }
  
  @media only screen and (min-width: 481px) and (max-width: 1024px) {
    /* Estilos para tabletas */
    .cntd {
      transform: translatex(35px) translatey(120px);
    }
  }
  @media only screen and (min-width: 1024px) and (max-width: 1280px) {
    /* Estilos para Laptos */
    .cntd {
      transform: translatex(250px) translatey(5px);
    }
  }