@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  color: white;
  font-family: 'Work Sans';
}

body {
  background-color: #313131;
}
.App {
  padding: 15px;
  display: flex;
}
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background-color: rgb(224, 223, 223);
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(140, 136, 132);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(74, 70, 66);
  }


