@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap");

.eliminar {
  font-family: "Work Sans";
  font-size: 1rem;
  width: 106px;
  height: 37px;
  cursor: pointer;
  position: relative;
  background: #ff0000;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  border: none;
}

.editar {
  font-family: "Work Sans";
  font-size: 1rem;
  width: 106px;
  height: 37px;
  cursor: pointer;
  position: relative;
  background: #01187f;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  border: none;
}

.opacidad {
  opacity: 0.5;
}
