@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap");

.eliminar {
  font-size: 1rem;
  width: 80px;
  height: 37px;
  cursor: pointer;
  position: relative;
  background: #ff0000;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  border: none;
}

.opacidad {
  opacity: 0.5;
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  /* Estilos para Laptos */
  .eliminar{
    width: 50px;
  }
}
