.container {
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/fondoHome.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 15px;
}

.dash {
  display: flex;
  height: 100vh;
}

.sidebar {
  display: flex;
  justify-content: center;
}

.Cards{
  width: 100%;
}

.cardDash {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  /* Estilos para Laptos */
  .cardDash {

  }
}
