.filters input {
  width: 300px;
  height: 60px;
  border: 1px solid #224145;
  border-radius: 15px;
  background-color: transparent;
  text-decoration: none;
  padding-left: 10px;
  font-family: "Work Sans";
  font-size: 1.23em;
  font-weight: 700;
  outline: none;
  color: white;
}

.filters input::placeholder {
  color: #224145;
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  /* Estilos para Laptos */
  .filters input {
    width: auto;
  }
}
