@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap");

.containerCard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.cuadrado1 {
  background-color: #224145;
  width: 400px;
  height: 500px;
  border-radius: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.imgCuadrado1 {
  margin: 20px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgCuadrado1 img {
  width: 100px;
}

.cuadrado2 {
  padding: 10px;
  height: 420px;
  width: 600px;
  background-color: #868080;
  border-radius: 40px;
  margin-left: -220px;
  display: flex;
  box-shadow: 7px 14px 12px 0px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 7px 14px 12px 0px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 7px 14px 12px 0px rgba(0, 0, 0, 0.37);
}

.col1 img {
  width: 180px;
}

.col2 {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
}

.fila1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.fila1 h1 {
  font-family: "Work Sans";
  font-weight: 100;
  color: white;
}

.fila1 p {
  font-family: "Work Sans";
  font-size: 2em;
  font-weight: 100;
  color: white;
}

.fila2 {
  display: flex;
  justify-content: space-around;
}

.size {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.size p {
  font-size: 1.8em;
}

.fila2 img {
  width: 150px;
}

.fila2 h1 {
  font-family: "Work Sans";
  font-size: 1.5em;
  font-weight: 500;
  color: black;
}

.fila3 button {
  width: 300px;
  height: 60px;
  margin: 6px;
  border-radius: 20px;
  background-color: #224145;
  border: none;
  color: aliceblue;
  font-family: "Work Sans";
  font-size: 1.2em;
  box-shadow: 7px 14px 12px 0px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 7px 14px 12px 0px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 7px 14px 12px 0px rgba(0, 0, 0, 0.37);
}

#carrito {
  border: none;
  background-color: transparent;
  color: #224145;
  font-size: 4em;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  /* Estilos para tabletas */
  .cuadrado1 {
    width: 370px;
    height: 400px;
  }
  .imgCuadrado1 img {
    width: 80px;
  }
  .cuadrado2 {
    height: 340px;
    width: 450px;
    margin-left: -220px;
  }
  .col1 img {
    width: 150px;
  }
  .size p {
    font-size: 1.5em;
  }
  
  .fila2 img {
    width: 100px;
  }
  .fila3 button {
    width: 200px;
    height: 40px;
  }
}
