
.containerNav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.156);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    padding: 19.5px;
    cursor: pointer;
}

.containerNav:hover {
    /* backdrop-filter: blur(10px); */
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.col {
    display: flex;
    font-size: 1.50em;
    gap: 150px;
}
#boton {
    width: 60px;
    font-size: 22px;
    color:white;
    padding: 10px 40px;
    background: transparent;
    border: none;
    outline: none;
}