.titulo {
    color: white;
    font-size: 3em;
}
.products {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.products img {
    border-radius: 20px;
}


.filters button {
    width: 150px;
    height: 60px;
    border: none;
    border-radius: 15px;
    background-color: #224145;
    color: white;
    padding: 10px;
    font-family: 'Work Sans';
    font-size: 1.23em;
    outline: none;
    text-decoration: none;
    margin-left: 5px;
}

/* ----------------------------------------Spinner---------------------------------------- */
.containerSpinner {
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 9px solid;
    border-color: #dbdcef;
    border-right-color: #224145;
    text-align: center;
    animation: spinner-d3wgkg 1s infinite linear;
}
@keyframes spinner-d3wgkg {
    to {
        transform: rotate(1turn);
    }
}
/* ----------------------------------------Spinner---------------------------------------- */