@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap");

.container {
  width: 100%;
  min-height: 100vh;
  background-image: url(../../assets/fondoHome.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-bottom: 20px;
}

.containerSpinner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  color: white;
  font-size: 3em;
}
.products {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.bar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.filters {
  display: flex;
}

.filters select {
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 15px;
    background-color: #224145;
    color: white;
    padding: 10px;
    font-family: 'Work Sans';
    font-size: 1.23em;
    outline: none;
    text-decoration: none;
    margin-left: 5px;
    cursor: pointer;
    text-align: center;
}

.filtros {
  display: flex;
}

/* ----------------------------------------Spinner---------------------------------------- */
.containerSpinner {
  height: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 9px solid;
  border-color: #dbdcef37;
  border-right-color: #224145;
  text-align: center;
  animation: spinner-d3wgkg 1s infinite linear;
}

@keyframes spinner-d3wgkg {
  to {
    transform: rotate(1turn);
  }
}
/* ----------------------------------------Spinner---------------------------------------- */

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  /* Estilos para tabletas */
  .bar{
    flex-direction: column;
    gap: 30px;
  }

  .filters{
    flex-wrap: wrap;
    row-gap: 1rem;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  /* Estilos para Laptos */
  .bar {
    flex-direction: column;
    gap: 30px;
  }
}
