.paginas {
    text-align: center;
    padding: 20px;
}

.paginas ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    flex-wrap: wrap;
    list-style: none;
    gap : 0.5rem;
    cursor: pointer;
}

.paginas ul li button {
    
    border: 1px solid #224145;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s;
    cursor: pointer;
}
.paginas ul div button{
    border: 1px solid #224145;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s;
}

.paginas ul li button:hover {
    color: white;
    background: #224145;
}

.pagin{
    background:#224145 ;
    color: white;
}

@media only screen and (max-width: 375px) {
    .paginas {
    text-align: center;
    padding: 20px;
}

.paginas ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    flex-wrap: wrap;
    list-style: none;
    gap : 0.1rem;
}

.paginas ul li button {
    border: 1px solid #224145;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s;
}
.paginas ul div button{
    border: 1px solid #224145;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s;
}

.paginas ul li button:hover {
    color: white;
    background: #224145;
}
}

.pagin{
    background:#224145 ;
    color: white;
}

@media only screen and (max-width: 540px) {
    .paginas {
    text-align: center;
    padding: 20px;
}

.paginas ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    flex-wrap: wrap;
    list-style: none;
    gap : 0.1rem;
}

.paginas ul li button {
    border: 1px solid #224145;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s;
}
.paginas ul div button{
    border: 1px solid #224145;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s;
}

.paginas ul li button:hover {
    color: white;
    background: #224145;
}
.pagin{
    background:#224145 ;
    color: white;
}
}
