.containerCardShopping {
  border: 1px solid white;
  margin: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}
.containerInfo {
  width: 90%;
  color: white;
}

.h2 {
  width: 90%;
  color: rgb(255, 255, 255);
}
.containerInfo h1 {
  font-size: 4em;
}
.containerInfo h2 {
  font-size: 2em;
}
.containerCardShopping img {
  width: 200px;
}
.containerCardShopping button {
  width: 200px;
  height: 70px;
  font-size: 2em;
  border-radius: 15px;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 2em;
  justify-content: center;
}
