.containerLanding {
    width: 99%;
    height: 1150px;
    margin: 5px;
    border-radius: 20px;
    display: flex;
}

.landing {
    width: 100%;
    background-image: url(../../assets/pf.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.navHome {
    border-bottom: 1px solid rgba(255, 255, 255, 0.233);
    height: 129px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    animation: nav 1s ease 0s 1 normal forwards;
}

.containerNavBar {
    width: 98%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col img {
    width: 100px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown button {
    color: rgba(255, 255, 255, 0.719);
    font-size: 3em;
}

.dropdownToggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 30px;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 300px;
    max-height: 500px;
    background-color: #d5d8d8da;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    color: #161819;
}

.menuList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    cursor: pointer;
}

.menuList li {
    padding: 10px 20px;
    font-size: 25px;
}

.menuList li:hover {
    background-color: rgb(94, 168, 198);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.menuList li:last-child {
    border-bottom: none;
}

body::before {
    width: 100%;
}

.containerInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 135px;
    margin-top: 30px;
    animation: contenido 3s ease 0s 1 normal forwards;
}

.titulo {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    animation: contenido 1s ease 0s 1 normal forwards;
}


.titulo h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 8em;
    color: white;

}

.titulo p {
    font-size: 1.70em;
    font-family: 'Work Sans';
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 10px;
}

.titulo button {
    width: 200px;
    height: 70px;
    margin-top: 40px;
    border-radius: 40px;
    border: none;
    font-family: 'Work Sans';
    font-size: 1.50em;
    background-color: #1e5b5b9b;
    cursor: pointer;
}

.titulo a {
    color: white;
}

.imgTabla {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: myAnim 1s ease 0s 1 normal forwards;
}

.imgTabla img {
    width: 400px;
    margin: 20px;
}

.aboutUsP {
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(15px);
}

@media screen and (max-width:1500px) {
    .titulo h1 {
        font-size: 6vw;
    }

    .titulo p {
        font-size: 1.20em;
    }
    .imgTabla img {
        width: 300px;
    }
    .containerInfo {
        padding: 100px;
    }

}
@media screen and (max-width:1300px) {
    .containerInfo {
        flex-direction: column;
        gap: 100px;
        padding: 50;
    }
    .titulo {
        width: 100%;
    }
    .titulo h1 {
        font-size: 11vw;
    }
    .containerLanding {
        height: 100%;
    }
    .containerInfo {
        padding: 50px;
    }
}


@media screen and (max-width:700px) {
    .landing {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .navHome {
        margin: 20px;
    }

    .titulo button {
        width: 150px;
        height: 50px;
    font-size: 1em;
    }

    .dropdownMenu {
        min-width: 200px;
    }
    .menuList li {
        font-size: 20px;
    }

}

@keyframes contenido {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}
@keyframes nav {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}