.containerLanding {
    width: 99%;
    height: 1150px;
    margin: 5px;
    border-radius: 20px;
    display: flex;
}
.landing {
    width: 100%;
    background-image: url(../../assets/pf.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.navHome {
    padding-top: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.156);
    display: flex;
    font-size: 1.50em;
    justify-content: space-between;
}
.containerItems {
    width: 40%;
    display: flex;
    align-items: center;
    gap: 70px;
    justify-content: center;
}
.user {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 20px;
}

.user p {
    margin-top: 10px;
}

.dropdown {
    display: none;
}

.navHome img {
    margin: 5px;
}

.navHome p {
    color: rgba(240, 255, 255, 0.697);
}

.navItems {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}

.navItems:hover {
    border-bottom: 5px solid #ffcc008c;
}

.containerInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 135px; 
    margin-top: 30px;
}

.titulo {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}


.titulo h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 8em;
    color: white;
}

.titulo p {
    font-size: 1.70em;
    font-family: 'Work Sans';
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 10px;
}

.titulo button {
    width: 200px;
    height: 70px;
    margin-top: 40px;
    border-radius: 40px;
    border: none;
    color: white;
    font-family: 'Work Sans';
    font-size: 1.50em;
    background-color: #1e5b5b9b;
}

.imgTabla {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: myAnim 1s ease 0s 1 normal forwards;
}

.imgTabla img {
    width: 400px;
    margin: 20px;
}
.aboutUsP {
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(15px);
}

@media screen and (max-width:1500px) {
    .navHome img {
        width: 100px;
        margin: 23.5px;
    }

    .containerItems {
        display: none;
    }
    .user {
        width: 100%;
    }
    .user p {
        display: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        display: block;
    }

    .dropdown button {
        color: rgba(255, 255, 255, 0.719);
        font-size: 1.7em;
    }
    .dropdownToggle {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 10px 20px;
        font-size: 30px;
    }

    .dropdownMenu {
        position: absolute;
        top: 100%;
        right: 0;
        min-width: 160px;
        background-color: #1e5b5b9b;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        color: white;
    }

    .menuList {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: right;
    }

    .menuList li {
        padding: 10px 20px;
        font-size: 16px;
    }

    .menuList li:last-child {
        border-bottom: none;
    }

    body::before {
        width: 100%;
    }
    .containerInfo {
        flex-direction: column;
        align-items: center;
    }

    .titulo {
        width: 100%;
    }

    .imgTabla {
        width: 100%;
        margin-top: 40px;
        justify-content: center;
    }
    .imgTabla img {
        width: 300px;
    }
    .titulo h1 {
        font-size: 4em;
    }
    .titulo p {
        font-size: 1.60em;

    }
}
@media screen and (max-width:800px) {
    .containerInfo {
        padding: 40px;
        padding-top: 80px;
    }
    .imgTabla img {
        margin: 0;
        margin-top: 40px;
    }
}

