.containerPublicidad {
  margin-top: 30px;
  height: 350px;
  backdrop-filter: blur(10px);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 10px 5px -4px rgba(0, 0, 0, 0.233);
  -moz-box-shadow: 0px 10px 5px -4px rgba(0, 0, 0, 0.259);
  box-shadow: 0px 10px 5px -4px rgba(0, 0, 0, 0.185);
  gap: 150px;
}

.col2 img {
  width: 30rem;
}

.col3 {
  font-size: 2em;
  color: #1e5b5b9b;
}

.arrow {
  cursor: pointer;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  /* Estilos para tabletas */
  .containerPublicidad {
    gap: 50px;
    height: 250px;
  }
  .col1 img {
    width: 15rem;
  }
  .col2 img {
    width: 15rem;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  /* Estilos para Laptos */
  .containerPublicidad {
    gap: 50px;
  }
  .col1 img {
    width: 30rem;
  }
}
