.container{
    background-size: cover;
    background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        opacity: 0.5;
        padding: 20px;
    
}

/*
padding-bottom: 100%;
width: 100%;
position: absolute;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
*/
/*
.img{
    z-index: 10;
    width: 250px;
    height: 250px;
}
*/

.container h3 {
    color: rgb(45, 51, 91);
    font-size: 2em;
    font-family: 'Work Sans';
    
}/*
font-weight: bold;
margin-top: 30px;
text-align: left;
display: block;
*/

.container h5 {
    color: rgb(45, 51, 91);
    font-size: 2em;
    font-family: 'Work Sans';
}/*
font-weight: bold;
text-align: left;
display: block;*/