.container {
    position: relative;
}

.container img {
    width: 100%;
}

.content {
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title {
    font-size: 3em;
    text-align: center;
    color: white;
    text-shadow: 1px 2px 5px rgba(0,0,0,0.6);
}

.button {
    width: 200px;
    height: 70px;
    margin-top: 40px;
    border-radius: 40px;
    border: none;

    font-size: 1.50em;
    background-color: #1e5b5b9b;
    cursor: pointer;
    color: white;
}