@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');
.filtros select{
    width: 150px;
    height: 55px;
    padding: 5px;
    color:white;
    background: #224145;
    border-radius: 10px;
    font-family: 'Work Sans';
    font-size:1rem;
    cursor: pointer;
}